@import url('https://fonts.googleapis.com/css?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
      background-color: #151514;
}
.calculator{

    border: 1px solid #dad3db;
    background:transparent;
    padding:40px;
 
    border-radius: 25px;
    box-shadow: 0px 3px 1px rgba(22, 22, 22, 0);
   
}
#yel{
     background-color: #dfcb2f;
    font-weight:bold;
    font-size: 40px;
    text-align:center;
}
input{
    width: 100%;
    border: none;
    padding: 24px;
    margin: 10px;
    color: aliceblue;
    background:transparent;
    box-shadow: 0px 3px 15px rgb(123 111 127);
    font-size: 40px;
    text-align:right;
    cursor: pointer;
    
    border-radius:10px
}
input::placeholder{
    color:rgb(251, 251, 251);
}
.button{
   display: flex;
    justify-content: space-between;
   
}
button{  width: 100%;
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background:transparent;
    color: #ffffff;
    font-size: 20px;
    box-shadow: 1px 2px 5px 1px  rgb(255 255 255);
    cursor: pointer;
    margin:15px;
}
.equabtn{
   
}
.operator{
    color: rgb(255, 251, 251);
}
  @media screen and (max-width: 440px){
 body{

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
      .calculator{
          
 width: 100vw;
    height: 100vh;
    border:none ;
 padding: 40px;
    border-radius: 0px;
          
            
}
   }
